* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
}
body {
  display: flex;
  flex-direction: row;
}
.menu {
  padding-left: 10px;
  width: 35vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-right: 1px solid transparent;
  height: 100vh;
  background-color: #fcfaf8;
}
.menu h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.imgholderAdd,
.imgholderStar,
.imgholderAll {
  padding-right: 6px;
}
.todaySortButton,
.addButton,
.allTasksButton,
.addButton2 {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}
.starImage,
.addImage,
.allTasksImage {
  width: 27px;
  height: 27px;
}
.addImage2 {
  width: 19px;
  height: 19px;
}
.allTasksImage {
  width: 23px;
  height: 23px;
}
.menu button,
.addButton2 {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  text-align: left !important;
  font-size: 16px;
  padding: 6px 10px;
  margin-right: 10px;
  color: #363432;
}
.menu button:hover {
  background-color: #b9bc9b;
  color: #f6f9f6;
}
/* Greeting */
.greeting {
  padding: 10px 15px;
}

/* Dialog */
.addTaskDialogHTML {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 470px;
  height: 410px;
  border: 2px solid transparent;
  border-radius: 10px;
}
.addTaskDialogHTML div {
  display: flex;
  flex-direction: column;
}
.closeDialogDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.closeDialog {
  margin-top: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.closeDialogImg {
  width: 26px;
  height: 26px;
}
.addTaskFormHTML {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.singleFormQuestion input,
.singleFormQuestion select {
  margin-top: 6px;
  height: 25px;
}
.submitAddTaskFormHTML {
  margin-top: 12px;
  height: 27px;
}
::backdrop {
  background-color: gray;
  opacity: 0.5;
}
/* Tasks/Todos  */
.taskHolder {
  padding: 10px 15px;
}
.singleDateDOM {
  margin-bottom: 15px;
  margin-top: 25x;
}
.toDoCard {
  border-bottom: 1px solid #363432;
  width: 65vw;
  margin-bottom: 15px;
}
.firstLineDiv,
.taskCheckBoxDiv,
.editDeleteDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.firstLineDiv {
  margin: 10px;
  justify-content: space-between;
}
.taskCheckBoxDiv,
.editDeleteDiv {
  gap: 10px;
}
.taskDescriptionDOM {
  margin: 10px;
}
.taskDeleteButton,
.taskEditButton {
  visibility: hidden;
  border: none;
  background-color: transparent;
}
.toDoCard:hover .taskDeleteButton,
.toDoCard:hover .taskEditButton {
  visibility: visible;
  border: none;
  background-color: transparent;
}
.editTaskButtonImg {
  width: 19px;
  height: 19px;
}
.deleteTaskButtonImg {
  width: 20px;
  height: 20px;
}
.priorityDiv {
  border-radius: 5px;
  width: 140px;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.priorityImg {
  width: 20px;
  height: 20px;
}
.priorityText {
  font-size: 13px;
}
