* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
}
body {
  display: flex;
  flex-direction: row;
}
.menu {
  padding-left: 10px;
  width: 35vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-right: 1px solid transparent;
  height: 100vh;
  background-color: #fcfaf8;
}
.menu h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.imgholderAdd,
.imgholderStar,
.imgholderAll {
  padding-right: 6px;
}
.todaySortButton,
.addButton,
.allTasksButton {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}
.starImage,
.addImage,
.allTasksImage {
  width: 27px;
  height: 27px;
}
.allTasksImage {
  width: 23px;
  height: 23px;
}
.menu button {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  text-align: left !important;
  font-size: 16px;
  padding: 6px 10px;
  margin-right: 10px;
  color: #363432;
}
.menu button:hover {
  background-color: #b9bc9b;
  color: #f6f9f6;
}
/* Greeting */
.greeting {
  padding: 10px 15px;
}

/* Dialog */
.addTaskDialogHTML {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 420px;
  height: 348px;
  border: 2px solid transparent;
  border-radius: 10px;
}
.addTaskDialogHTML div {
  display: flex;
  flex-direction: column;
}
.closeDialog {
  margin-top: 10px;
  margin-left: 60vh;
  border-radius: 50%;
  border: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
  text-align: center;
}
.addTaskFormHTML {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.submitAddTaskFormHTML {
  margin-top: 12px;
  height: 22px;
}
::backdrop {
  background-color: gray;
  opacity: 0.5;
}
/* Tasks/Todos */
.taskHolder {
  padding: 10px 15px;
}
.singleDateDOM {
  margin-bottom: 10px;
}
.toDoCard {
  border: 1px solid #363432;
  border-radius: 10px;
  width: 80vw;
}
